* {

}
.logo_main {
  margin-left: 50px;
}

.bar_top {
  border: 5px;
  border-width: 6px;
  border-style: solid;
  border-color: black;
  height: 191px;
  width: auto;
  margin-top: -200px;
}
iframe {
  width: 800px;
  height: 546px;
  border-style: solid;
  border-width: 6px;
  margin-top: 68px;
}
